---
import MainComponent from "@components/utils/MainComponent.astro";
import Layout from "@layouts/BaseLayout.astro";

import type { ContentBlock } from "../types";

type Props = {
  frontmatter?: {
    title: string;
    description?: string;
    keywords?: string[];
    image?: string;
    canonical?: string;
    pageSections?: ContentBlock[];
  };
  title?: string;
  description?: string;
  keywords?: string[];
  image?: string;
  canonical?: string;
};

const {
  frontmatter,
  title: titleProp,
  description: descriptionProp,
  keywords: keywordsProp,
  image: imageProp,
  canonical: canonicalProp,
} = Astro.props as Props;

const title = frontmatter?.title ?? titleProp ?? "";
const description = frontmatter?.description ?? descriptionProp;
const keywords = frontmatter?.keywords ?? keywordsProp;
const image = frontmatter?.image ?? imageProp;
const canonical = frontmatter?.canonical ?? canonicalProp;
const sections = frontmatter?.pageSections ?? [];
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  image={image}
  canonical={canonical}
>
  {
    sections.length > 0 && (
      <div
        data-editable="component"
        data-component="utils/main-component"
        data-prop-sections="pageSections"
      >
        <MainComponent sections={sections} />
      </div>
    )
  }
  <slot />
</Layout>
